<!-- Sites Content Layout -->

{{#if selected}}
{{#each @root}}
{{#eq @key ../selected}}
<div data-wch-selectable="{{ @root.$metadata.id }}#{{ $metadata.accessor }}">
    {{{ $markup }}}
</div>
{{/eq}}
{{/each}}
{{/if}}

<!-- End Sites Content Layout -->