<!-- Sites Promotion Layout -->

<div data-content-item-id="{{ $metadata.id }}" data-accessor="{{ $metadata.accessor }}">
    <div class="promotion-image">
        {{{image.$markup}}}
    </div>
    <div class="promotion-text">
        {{{text.$markup}}}
    </div>
    <div class="promotion-button">
        {{{button.$markup}}}
    </div>
</div>

<!-- End Sites Promotion Layout -->